<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css">
    <title>Edit Ninja</title>
</head>
<body>
    <div class="container col-md">
        <h1>Edit {{ninjas[0].first_name}}</h1>
        <div class="form-group new_ninja">
            <form action="/edit/this/ninja" method="POST">
                <label for="first_name">First Name:</label>
                <input type="text" name="first_name" class="form-control" value="{{ninjas[0].first_name}}">
                <label for="last_name">Last Name:</label>
                <input type="text" name="last_name" class="form-control" value="{{ninjas[0].last_name}}">
                <label for="age">Age:</label>
                <input type="text" name="age" class="form-control" value="{{ninjas[0].age}}">
                <input type="hidden" name="dojo_id" value="{{ninjas[0].dojo_id}}">
                <input type="hidden" name="id" value="{{ninjas[0].id}}">
                <input type="submit" value="UPDATE">
            </form>
            <a href="/dojos/{{ninjas[0].dojo_id}}">Back to {{ninjas[0].first_name}}'s Dojo</a>
        </div>
        <a href="/dojos">Home</a>
    </div>
    
</body>
</html>